<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
    </style>
</head>
<body>
<img src=" {{url_for('send_image')}}" style="width:420px;height:420px;">
<p></p>

<table align="center">
{% for key, value in result.items() %}
    <tr>
        <th> {{ key }} </th>
        <td> {{ value }} </td>
    </tr>
{% endfor %}
</table>

</body>
</html>